@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
/* shared styles start  */
.primary-text {
  color: rgb(71, 71, 71);
  font-weight: 400;
}
.btn-primary {
  padding: 0.8rem 1.25rem;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s ease all;
}
.btn-primary:hover {
  border: 1px solid rgb(253, 110, 10);
  background-color: transparent;
  color: rgb(24, 24, 24);
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  margin-top: 130px !important;
}
.section-description {
  color: rgb(117, 117, 117);
  font-size: 1.125rem;
  font-weight: 400;
}
.section-title {
  color: rgb(24, 24, 24);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}
/* shared styles ends */

/* header styles  */

.header {
  /* max-width: 1600px; */
  width: 100vw;
  height: 830px;
  /* border: 1px solid red; */
  margin: 0 auto;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
  background-color: rgb(255, 248, 243);
}

/* navbar style  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding: 50px 230px 0px;
}
.nav-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items ul li {
  margin-right: 2.5rem;
}
.nav-items ul li .nav-links {
  font-size: 1.25rem;
  text-decoration: none;
}
.nav-logo h3 {
  font-size: 45px;
  font-weight: 800;
  color: rgb(24, 24, 24);
}
.nav-logo h3 span {
  color: rgb(253, 110, 10);
}
/* nav section style ends  */

/* banner section styles start  */
.banner-container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  flex-basis: 50%;
}
.banner-content h3 {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
}
.banner-content h1 {
  color: rgb(24, 24, 24);
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.banner-content p {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  max-width: 580px;
}
.banner-content .banner-btn {
  margin-top: 1.8rem;
}
.banner-content .banner-btn .btn-contact {
  padding: 0.8rem 1.25rem;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: transparent;
  border-radius: 5px;
  color: rgb(24, 24, 24);
  border: 1px solid rgb(253, 110, 10);
  cursor: pointer;
  transition: 0.5s ease all;
  margin-left: 1rem;
}
.banner-content .banner-btn .btn-contact:hover {
  background-color: rgb(253, 110, 10);
  color: rgb(255, 255, 255);
}
.banner-img {
}
.banner-img img {
  width: 143%;
}
/* banner section styles ends */

/* about me section styles starts  */

.about-container {
  height: 537px;
  background-color: rgb(255, 248, 243);
  /* padding: 120px; */
}
.about-content {
  padding: 130px 160px 0px 160px;
  text-align: center;
}
.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  margin-top: 1.8rem;
}
.item-container .item-title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  color: rgb(24, 24, 24);
  margin-bottom: 1rem;
}
/* about me section styles ends */

/* skills section styles start  */
.skills-content {
  padding: 0 130px;
  text-align: center;
}

.skills-cards {
  display: flex;
  gap: 1.5rem;
  margin-top: 50px;
}
.skills-cards .card {
  padding: 30px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}
.skills-cards .card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.skills-cards .card .section-description {
  margin-top: 1.125rem;
  font-size: 1rem;
  line-height: 30px;
}
.skills-cards .card .card-title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  color: rgb(24, 24, 24);
  margin-bottom: 1rem;
}
/* skills section styles ends */

/* myResume section styles start  */
.myResume-container > .section-title {
  text-align: center;
  margin-bottom: 100px;
  text-transform: capitalize;
}
.myResume-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.myResume-column .hr {
  margin: 30px 0px;
}
.myResume-column .column-items {
  width: 50%;
}
.myResume-column .resume-item .section-description {
  font-size: 1rem;
  max-width: 511px;
}
.myResume-column .resume-item .resume-item-title {
  color: rgb(71, 71, 71);
  font-size: 1.5rem;
  font-weight: 700;
}
.myResume-column .resume-item .resume-item-subtitle {
  color: rgb(117, 117, 117);
  font-size: 1.125rem;
  font-weight: 600;
  margin: 10px 0px 20px 0px;
}
.myResume-container .download-btn {
  text-align: center;
  margin-top: 1.8rem;
}
/* myResume section styles ends  */

/* my amazing portfolio section styles start  */
.portfolio-area .section-title {
  text-align: center;
  margin-bottom: 50px;
}
.all-portfolio {
  display: flex;
  justify-content: space-between;
}
.portfolio-area img {
  margin-bottom: 24px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  flex-wrap: nowrap;
  cursor: pointer;
  border-radius: 5px;
}
.portfolio-area .portfolio-img {
  flex-basis: 32%;
}
.image {
  transition: 0.4s ease;
}
.image-container {
  position: relative;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s ease;
  color: #474747;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.image-container:hover .image {
  opacity: 0.4;
}
.image-container:hover .image-text {
  opacity: 1;
}
.image-container .image-text button {
  margin-top: 24px;
}
/* my amazing portfolio section styles ends */

/* footer section style starts  */
.footer {
  background-color: rgb(255, 248, 243);
  margin-top: 130px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 130px 0;
}
.company-info,
.contact-container {
  flex-basis: 50%;
}
.contact-container{
  margin-left: 100px;
}
.company-info .social-icons {
  margin-top: 30px;
}
.company-info .social-icons a {
  display: inline-block;
  padding: 10px;
  border-radius: 10p;
  color: rgb(253, 110, 10);
  font-size: 1.5rem;
  transition: transform 0.4s ease-in-out;
}
.company-info .social-icons a:hover {
  transform: scale(1.2);
}

.contact-form input,
.contact-form textarea {
  display: block;
  margin-bottom: 1.25rem;
  width: 480px;
  height: 60px;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 5px;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 600;
}
.contact-form textarea{
  height: 150px;
}

.copyright-container{
  text-align: center;
  padding-bottom: 1.25rem;
}
.copyright-container a{
  text-decoration: none;
}
/* footer section style ends */
